body {
    background-color: rgba(231, 231, 231, 0.692);
}
h1 {
    color: rgba(7, 2, 4, 0.801);
    background-color: hsla(278, 6%, 74%, 0.438);
    margin: 50px;
    font-family: verdana;
    font-size: 300%;
}
h2 {
    color: rgba(2, 1, 2, 0.692);
    border: 2px solid rgba(243, 198, 255, 0.521);
    background-color: hsla(278, 6%, 74%, 0.233);
    padding: 30px;
    font-family: verdana;
    font-size: 200%;
}
p {
    color: rgba(20, 52, 82, 0.884);
    font-family: courier;
    font-size: 160%;
    border: 2px solid rgba(39, 47, 117, 0.267);
    margin: 50px;
    padding: 30px;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(194, 161, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(126, 48, 252);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(253, 68, 161);
  background-color: transparent;
  text-decoration: underline;
}